
<%- include('../layouts/cabecera.ejs'); %>

        <br>
        <br>
        <a href="/libros/crear" class="btn btn-primary" type="button">Crear un nuevo libro</a>
        <br>
        <br>



        <table class="table table-striped">
            <thead class="thead-dark ">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <% for( let libro=0; libro < libros.length; libro++ ) { %>

                        <td>
                            <%=libros[libro].id %>
                        </td>
                        <td>
                            <%=libros[libro].nombre %>
                        </td>
                        <td>

<img class="img-thumnail" width="100" src=" images/<%=libros[libro].imagen %>" >
                           


                        </td>

                        <td>
                            Editar | Borrar
                        </td>

                </tr>

                <% } %>



    </tbody>
    </table>
    <%- include('../layouts/pie.ejs'); %>
